.Dictionary {
  text-align: center;
  margin-top: 30px;
}
.Dictionary-header {
  font-family: "Edu QLD Beginner", cursive;
  font-size: 72px;
  font-weight: 600;
  color: rgb(59, 59, 59);
}
.Dictionary-p {
  font-family: "Edu QLD Beginner", cursive;
  font-size: 24px;
  color: rgb(59, 59, 59);
}
.Dictionary input {
  width: 50%;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
}
