.Meaning {
  background-color: white;
  border-radius: 10px;
  box-shadow: 8px 9px 12px -9px rgba(66, 68, 90, 1);
  padding: 30px;
  margin-top: 20px;
}
.Meaning .example {
  font-style: italic;
  margin-top: 10px;
  opacity: 0.8;
}
