.Phonetic {
  margin: 20px 0;
}

.Phonetic a {
  border: 1px solid #4ccfc6;
  border-radius: 20px;
  text-decoration: none;
  padding: 8px 15px;
  transition: all 0.15s ease-in-out;
  font-size: 13px;
  font-weight: 600;
  margin-right: 10px;
  background-color: #4ccfc6;
  color: #fff;
}
.Phonetic a:hover {
  background-color: white;
  color: #4ccfc6;
}
.Phonetic .phonetic-text {
  font-size: 16px;
  opacity: 0.7;
}
